*{
    box-sizing: border-box;
}


.footer{
    margin-top: 50px;
    width:100%;
    padding: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: rgb(36, 32, 32);
}
.footer div{
    text-align:center;
}

.col-2{
    flex-grow:1.5;
}
.footer div h3{
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.footer .col-1 a{
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
}
.social-icons{
    margin-top: 30px;
}
.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

