*{
  text-decoration: none !important;
}
nav{
  background-color: rgb(161, 155, 155);
  /* float: right; */
  margin:0px;
  width: 100%;
  height: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
nav img{
  padding-top: 10px;
  padding-bottom: 10px;
  height: 75px;
}
#menu{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#menu a{
    text-decoration: none;
    list-style-type: none;
    padding: 22px 10px;
    margin: 5px;
    color: white;
    font-size: medium;
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }

 

/* @media (max-width: 768px) {
  .menu ul{
    transform: translateX(0%);
    /* flex-flow: column nowrap;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    padding-top: 3.5rem;
    background-color: #333;
    transition: transform 0.3s ease-in-out;
  }
  .menu .visible{
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  #burger{
  width: 2.5rem;
  height: 2rem;
  position: fixed;
  top: 25px;
  right: 25px;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 4;

}
.b{
  width: 3rem;
  height: 0.5rem;
  border-radius: 10px;
}


/* .show{
  transform-origin: -1px;
  transition: all 0.3s linear;
}

.show .b{
  background-color: pink;
  transition: all 0.3s linear;
}

.show .b:nth-child(1){
    transform: translate(0, 11px) rotate(-45deg);

  }
  .show .b:nth-child(2){
    transform: translateX(150%);
    opacity: 0;

  }
    .show .b:nth-child(3){
    transform: translate(0, -11px) rotate(45deg);

  }


/* .hidden{
  transform-origin: 1px;
  transition: all 0.3s linear;
} 

.hidden .b{
  background-color: blue;
  transition: all 0.3s linear;
}

.hidden .b:nth-child(1){
    transform: rotate(0);
    
  }
.hidden .b:nth-child(2){
    transform: translateX(0);
    opacity: 1;

  }
.hidden .b:nth-child(3){
    transform: rotate(0);

  }
  .show .menu{
    transform: translateX(100%);
  }

  .hidden .menu{
    transform: translateX(0);
  }
} 
*/





  
