
.reserDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
}

.reserDiv h2{
    background-color: rgb(247, 247, 182);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
}

.reservationForm{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 500px;
    background-color: aliceblue;
    border-bottom: 2px solid grey;
}

.reservationForm input, .reservationForm button{
    margin-top: 10px;
    padding: 5px;
}
.reservationForm label{
    margin-top: 10px;
}


