
.reserDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reserDiv h2{
    background-color: #495e57;
    text-align: center;
    width: 100%;
    padding: 20px;
    margin: 0;
}

.reservationForm{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    width: 400px;
    height: 500px;
}

.reservationForm input, .reservationForm button{
    margin-top: 10px;
    padding: 5px;
}
.reservationForm label{
    margin-top: 10px;
    color: #495e57;
    font-weight: 500;
}
.reservationForm input, .reservationForm select{
    border-radius: 5px;
    border-color: rgb(178, 187, 193);
    height: 30px;
}

.buttongap{
    margin-top: 50px;
}




